
@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Oscorp Tech">
    <title>Sandvik</title>
    <!-- <link href="assets/css/base.css" rel="stylesheet" /> -->
    <link href="@Url.Content("~/Content/mytemplate/")style.css" rel="stylesheet" />
</head>
<body class="container">
    <header>
        <div class="aic df jcb">
            <div>
                <img src="/Content/mytemplate/images/logo.svg" alt="Logo" class="mr-4" width="150px">
            </div>
            <!-- <h4 class="project-name">QCD Automation</h4> -->
            <div>
                <div class="user text-right">
                    Welcome&nbsp;<strong>John Doe</strong>,&nbsp;<small>&#91;10-04-2021&#93;</small>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        <div class="border mb-2 mt-2 br-5 shadow-cus bg-white">
            <p class="f-17 text-blue">To,</p>
            <p>Sandvik Mining and Rock Technology India Private Limited (‘SMRTIPL’)<br>Mumbai-Pune road, Dapodi, Pune 411012.</p>
            <hr>
            <p class="f-17 text-blue">Subject: Declaration for deducting Tax at Source (TDS) on purchase of goods </p>
            <p>
                I/We <input type="text" class="cus-input"> on behalf of M/s <input type="text" class="cus-input"> (‘Entity’) having registered office at <input type="text" class="cus-input"> with PAN <input type="text" class="cus-input"> and TAN <input type="text"
                                                                                                                                                                                                                                                             class="cus-input"> hereby declare that the Entity is responsible to deduct TDS on the purchase of goods from SMRTIPL as per the provisions of newly inserted section 194Q of the Income-tax Act, 1961 w.e.f. 1st July 2021 and has deducted/
                would deduct such TDS.
            </p>
            <br>
            <p>
                SMRTIPL will not be responsible for any default on account of non-deduction of TDS on purchase of goods by M/s <input type="text" class="cus-input">. It will solely be the responsibility of M/s <input type="text" class="cus-input"> to pay
                TDS along with the applicable interest, if any to the government authorities in case of any defaults and provide the TDS certificate to SMRTIPL for the amount of TDS deducted, for claiming the credit.
            </p>
            <br>
            <p>Lastly, I/We also confirm to indemnify SMRTIPL towards tax collection at source (TCS) and interest, if any applicable on the same under the provisions of the Act on account of non-deduction of TDS by us.</p>
            <hr>
            <div>
                <div class="df"><span class="label-250"> For M/s </span><input type="text" class="cus-input"></div>
                <div class="df"><span class="label-250"> Date: </span><input type="text" class="cus-input"></div>
                <div class="df"><span class="label-250"> Name and Designation of Authorised signatory: </span><input type="text" class="cus-input"></div>
                <div class="df"><span class="label-250"> Signature: </span><input type="file" class="cus-input cus-input-file"></div>
            </div>
        </div>
        <button class="btn btn-outline-blue mt-3 disabled text-center">Submit</button>
    </main>
  
    <!-- <script src="assets/js/jquery-3.5.1.slim.min.js "></script>
    <script>
        window.jQuery || document.write('<script src="assets/js/jquery-3.5.1.slim.min.js "><\/script>')
    </script>
    <script src="assets/js/bootstrap.bundle.min.js "></script> -->
</html>

